<div class="col-xl-7 col-lg-9 text-center">
    <h1>List of the User Waiting of Approval</h1>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Email Id</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">User Name</th>
            <th scope="col">Address</th>
            <th scope="col">Card Type</th>
        </tr>
    </thead>
    <!-- 
   <tbody>
       <tr *ngFor="let user of userlist">
           <th scope="row">i</th>
           <td>{{user.Email}}</td>
           <td>{{user.Name}}</td>
           <td>{{user.Phone}}</td>
           <td>{{user.Username}}</td>
           <td>{{user.Address}}</td>
           <td>{{user.Cardtype}}</td>
           <td>{{user.Validation}}</td>
       </tr>
   </tbody>-->
</table>